# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Specific ignores
*.py#
*.pyc
*.o
*.so
*.pgo
*.exe
bignum/cygBignum.dll
TEdit/.idea/.name
TEdit/.idea/misc.xml
TEdit/.idea/TEdit.iml
*.xml
MeshCPP11/DataStrTest.exe.stackdump
*.a
*.dll
DataStr/c/.gdb_history
DataStr/c/DataStrTest.dSYM/Contents/Info.plist
